@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(255, 255, 255) ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #E35205;
}